doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/main.css')
    title Items CRUD
    <link rel="shortcut icon" type="image/png" href="/img/logo.png"/>

  body    
    main.main
      .error
        .error__title
          h2.heading-secondary.heading-secondary--error Uh oh! Something went wrong!   
        .error__msg= msg
        //- p=name
      if(code === 401)
        p klik
          a(href='login') login
      
    footer.text-center.py-3.bg-dark.text-white
      p Copyright Wahyu Nur Arizky &copy 2021
      p Test Nutech NodeJS
      a.text-white(href='https://github.com/wahyunurarizky/test-cud-nutech') GITHUB REPO
      br
      br
      p maaf belum sempat membuat pagination dan searching. namun saya sudah membuat API nya siap panggil di bawah ini
      a.text-white(href='https://documenter.getpostman.com/view/9203738/Tzm6jv5z') Postman API

    script(src='/js/bundle.js')